@model List<Musicollage.Models.DisplayRelease>
@{
    ViewData["Title"] = "Top 10";
}
<h2>Top Releases</h2>
@foreach(var r in Model)
{
    @if(r.image == "Not found")
    {
        <a href='/release/@r.id'><img src="~/images/noimage.png" alt="@r.artist - @r.title" width=18% height=18%></a>
    }
    else
    {
        <a href='/release/@r.id'><img src="@r.image" alt="@r.artist - @r.title" width=18% height=18%></a>
    }
}