@model List<Musicollage.Models.DisplayRating>
<h3>Welcome, @ViewBag.name</h3>
<p>View your top albums</p>
@Html.Partial("Partials/GetTopX.cshtml")
<h4>Most recent ratings by other users:</h4>
<div id="recentratings">
@foreach(var x in Model)
{
    <div class="recentrating">
    <a href="/release/@x.release_id_string"><img src="@x.image" width='150' height='150'></a>
    <p><a href='/artist/@x.artist_id_string'>@x.artist</a></p>
    <p><a href='/release/@x.release_id_string'>@x.title</a></p>
    <p>@x.rating/10 by <a href='/user/@x.rater'>@x.rater</a></p>
    </div>
}
</div>