@model List<Musicollage.Models.DisplayRating>
@{
    ViewData["Title"] = "Top " + @ViewBag.num;
}
@if(ViewBag.period == null)
{
    <h2>@ViewBag.name's top @ViewBag.num</h2>
}
else
{
    <h2>@ViewBag.name's top @ViewBag.num of @ViewBag.period</h2>
}
@{
    string imgWidth = "";
    if(ViewBag.actualNum < 5)
    {
        imgWidth = "20%";
    }
    else if(ViewBag.actualNum % 6 == 0)
    {
        imgWidth = "15%";
    }
    else if(ViewBag.actualNum % 5 == 0)
    {
        imgWidth = "18%";
    }
    else if(ViewBag.actualNum % 4 == 0)
    {
        imgWidth = "20%";
    }
    else
    {
        imgWidth = "15%";
    }
}
@foreach(var x in Model)
{
    if(x.image == "Not found")
    {
        <a href="/release/@x.release_id_string"><img src='~/images/noimage.png' alt="@x.artist - @x.title" width='@imgWidth' height="@imgWidth"></a>
    }
    else
    {
        <a href="/release/@x.release_id_string"><img src='@x.image' alt="@x.artist - @x.title" width='@imgWidth' height="@imgWidth"></a>
    }
    
}
@if(Model.Count < ViewBag.num)
{
    <p>@ViewBag.name has not rated enough albums!</p>
}
<br><br>
@Html.Partial("Partials/GetTopX.cshtml")